body {
    padding: 2%;
    background-image: url("dumpster.jpeg");
    background-repeat: no-repeat;
    background-size: 581px 433px;
    background-position: center;
    background-attachment: fixed;


  }